<div class="container">
  <div class="row">
    <div class="col">

      <p class="mt-5"><strong>本当に退会しますか？</strong></p></br>
      <p>退会すると、企業登録情報や</p></br>
      <p>これまでの履歴が閲覧できなくなります。</p></br>
      <p>退会する場合は、「退会する」をクリックしてください。</p>

      <div class="mt-5">
        <%= link_to "退会しない", companies_employees_path(@company), class: "btn btn-outline-primary btn-block" %>
        <%= link_to "退会する", companies_withdraw_path(@company), method: :patch, class: "btn btn-outline-danger btn-block" %>
      </div>
    </div>
  </div>
</div>
