<h2>User</h2>

  <div class="table table-hover table-inverse">
      <div class="row"></div>
      <div class="row">
        <div class="col-6">name</div>
        <div class="col-6"><%= @employee.name %></div>
      </div>
  </div>

<div>
  <h2>comment</h2>
  <%= form_with model: @comment, url: employees_post_comments_path(@post), method: :post do |f| %>
    <%= f.text_area :contents, placeholder: "コメント", size: "35x5" %>
    <p><button type="submit" class="btn btn-success", style="padding: 0.20rem 0.75rem;">投稿</button></p>
  <% end %>
</div>