<div class="container">
  <div class="row">
    <h2><%= @employee.name %>さんの提出書類状況</h2>
      <table>
        <% @documents.each do |document| %>
        <tr>
          <td>
            <%= document.name %>
          </td>
            <% form_with model: @submit, url: companies_documents_path, do |f| %>
          <td>
              <%= f.select :Document.submission_status_i18n.invert, placeholder: 0 %>
          </td>
          <td>
              <%= f.submit "更新", class: "btn btn-success" %>
          </td>
            <% end %> 
        </tr>
        <% end %>
      </table>
  </div>
</div>