<div class="container mt-10">
  <!--<div class="row mx-auto">-->
    <div>

      <h2 class="text-center">ＺtoＡへようこそ</h2>
        <p class="text-center">
          人生を共に歩むチームメンバーが増え、新たなスタートを迎える</br>
          社員と企業が二人三脚で行う産休・育休申請をＺtoＡがサポートします。
        </p>
        <div class="col-10 mx-auto">
          <div class="row">
            <div class="col-5 mx-auto">
                <p>企業担当の方</p>
              <div>
                <%= link_to "こちらから新規登録", new_company_registration_path, class:"btn btn-success" %>
                <%= link_to "こちらからログイン", new_company_session_path, class:"btn btn-info" %>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-5 mx-auto">
              <p>利用者の方</p>
            <div>
              <%= link_to "こちらからログイン",  new_employee_session_path, class:"btn btn-info" %>
            </div>
          </div>
          </div>
        </div>
    </div>
  <!--</div>-->
</div>