
<div class="container">
  <div class="row">
    <div class="col-12 dflex flex right">
        <%= link_to "社員のアカウントを発行する",  new_companies_employee_path, class:"btn btn-success" %>
    </div>
  </div>  

  <div class="row col-8">
    <h2>利用者一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>employee</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
        <tr>
          <td>
            <%= link_to companies_employee_path(employee) do %>
              <%= employee.name %>
            <% end %>
          </td>
          <td>
            <%= employee.status_i18n %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
