<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h2>新規利用者登録</h2>
      
      <%= form_with(model: @employee, url: companies_employees_path) do |form| %>
        <%= render 'form', form: form, submit: "新規利用者登録" %>
      <% end %>
      <%= link_to '登録社員一覧', companies_employees_path %>
    </div>
  </div>
</div>