@import '~bootstrap/scss/bootstrap';

body {
  background-color: #FFDEAD;
}

h2 {
  color: #ba754c;
}

.hedder_logo {
   width: 120px;
}

p {
  font-size: 20px;
}

.document-header {
  background-color: #FFD699;
  font-size: 17px;
}

.document-0 {
  background-color: #FFE0B3;
}

.document-1 {
  background-color: #FFEBCC;
}



// .font {
//   color: #4D4334;
// }

.font {
  color: #665945;
}