<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h1>Editing Companies User</h1>
      
      <%= form_with(model: @employee, url: employee_path(@employee)) do |form| %>
        <%= render 'form', form: form, submit: "編集する" %>
      <% end %>
      <%= link_to 'Show', employees_employee_path(@employee) %>
    </div>
  </div>
</div>
