<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h2>登録情報編集</h2>

        <!--urlは編集する為のリクエスト先-->
      <%= form_with model: @employee, url: employee_path(@employee) do |form| %>
        <%= render 'form', form: form, submit: "編集する" %>
      <% end %>
      <%= link_to 'マイページへ戻る', employees_employee_path(@employee) %>
    </div>
  </div>
</div>
