<div class="container">
  <h2 class="mt-3">通知一覧</h2>
  <div class="mt-5">
    <% @notifications.each do |notification| %>
      <div class="row mt-2">
        <% if notification.notification_status == "comment" && notification.employee_id.present? && notification.employee_id != current_employee.id %>
          <p><%= notification.created_at.strftime("%Y年%m月%d日") %>
            <span><%= "#{notification.employee.name}さんからコメントがありました。"%></span>
          </p>
        <% elsif notification.notification_status == "comment" && notification.employee_id.nil? %>
          <p><%= notification.created_at.strftime("%Y年%m月%d日") %>
            <span><%= "#{notification.company.name}さんからコメントがありました。"%></span>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>  
</div>